@media only screen and (orientation: landscape) {
    html {
        background: black;
    }
    body {
        display: none;
    }
}

@media (hover: hover) and (pointer: fine) {
    html {
        background: none;
    }
    body {
        display: block;
    }
}